@page
@using Utilities
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2 class="text-center mb-4">Create an Account</h2>
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="Ahmed Younes" />
                                <label asp-for="Input.Name">Name</label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.City" class="form-control" autocomplete="address-level2" aria-required="true" placeholder="City" />
                                <label asp-for="Input.City">City</label>
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Address" class="form-control" autocomplete="street-address" aria-required="true" placeholder="Address" />
                                <label asp-for="Input.Address">Address</label>
                                <span asp-validation-for="Input.Address" class="text-danger"></span>
                            </div>

                            @if (User.IsInRole(SD.AdminRole))
                            {
                                <div class="mb-3">
                                    <label class="form-label">Role</label>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="RoleRadio" value="@SD.AdminRole" id="roleAdmin" />
                                        <label class="form-check-label" for="roleAdmin">@SD.AdminRole</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="RoleRadio" value="@SD.EditorRole" id="roleEditor" />
                                        <label class="form-check-label" for="roleEditor">@SD.EditorRole</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="RoleRadio" value="@SD.CustomerRole" id="roleCustomer" />
                                        <label class="form-check-label" for="roleCustomer">@SD.CustomerRole</label>
                                    </div>
                                </div>
                            }

                            <button id="registerSubmit" type="submit" class="btn btn-primary w-100 btn-lg">@((User.IsInRole(SD.AdminRole) ? "Create New User" : "Register"))</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
